h1 {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: 1%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li {
  text-align: center;
  padding: 5px;
  list-style-type: none;
}

ul {
  border: 1px solid black;
  width: 50%;
  background-color: rgb(194, 194, 194);
}
